<div class="login-form" (submit)="onSubmit">
<form>
  <table>
    <tr>
      <label for="username-input" class="label">Nutzername: </label>
      <td><input type="text" id="username-input"></td>
    </tr>
    <tr>
      <td><label for="password-input" class="label">Passwort: </label></td>
      <td><input type="password" id="password-input"></td>
    </tr>
    <tr>
      <td></td>
      <td><button id="login-button" class="button" type="submit">Einloggen</button></td>
    </tr>
  </table>

</form>
</div>
